# WebScraping for TimeandDate.com

LOS ANGELES

In [1]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup

In [2]:
lst_T = []
lst_H = []
lst_P = []

In [3]:
def WeatherAppend(site):
    page = requests.get(site)
    soup = BeautifulSoup(page.content)
    avg_table = soup.find('div',{'class':'eight columns'})
    td_avg_table = avg_table.find_all("td")
    T = td_avg_table[6]
    H = td_avg_table[7]
    P = td_avg_table[8]
    lst_T.append(T.string)
    lst_H.append(H.string)
    lst_P.append(P.string)
    data = {'Temperature':lst_T, "Humidity":lst_H, "Pressure":lst_P}
    city = pd.DataFrame(data)
    return city

In [ ]:
years = list(range(2010,2019))
months = list(range(1,13))

In [ ]:
site = 'https://www.timeanddate.com/weather/usa/los-angeles/historic?month=1&year=2010'    
for ind in years:
    site = site.replace(site[site.find("year=")+5:],str(years[ind-2011]),1)
    for i in months:
        losangeles = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-1]),1))

In [ ]:
losangeles.head()

In [ ]:
losangeles.to_excel('/Users/Robbie/Desktop/LA_PL.xlsx')

NEW YORK CITY

In [ ]:
siteN = 'https://www.timeanddate.com/weather/usa/new-york/historic?month=1&year=2010'

for ind in years:
    siteN = siteN.replace(siteN[siteN.find("year=")+5:],str(years[ind-2011]),1)
    for i in months:
        nyc = WeatherAppend(siteN.replace(siteN[siteN.find("=")+1:siteN.find("&")],str(months[i-1]),1))

In [ ]:
nyc.head()

In [ ]:
nyc.to_excel('/Users/Robbie/Desktop/NYC_PL.xlsx')

CHICAGO

In [ ]:
siteC = 'https://www.timeanddate.com/weather/usa/chicago/historic?month=1&year=2010'

for ind in years:
    siteC = siteC.replace(siteC[siteC.find("year=")+5:],str(years[ind-2011]),1)
    for i in months:
        chicago = WeatherAppend(siteC.replace(siteC[siteC.find("=")+1:siteC.find("&")],str(months[i-1]),1))

In [ ]:
chicago.head()

In [ ]:
chicago.to_excel('/Users/Robbie/Desktop/CH_PL.xlsx')

SEATTLE

In [ ]:
site = 'https://www.timeanddate.com/weather/usa/seattle/historic?month=1&year=2010'

for ind in years:
    site = site.replace(site[site.find("year=")+5:],str(years[ind-2011]),1)
    for i in months:
        seattle = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-1]),1))

In [ ]:
seattle.head()

In [ ]:
seattle.to_excel('/Users/Robbie/Desktop/SEA_PL.xlsx')

ORLANDO

In [ ]:
site = 'https://www.timeanddate.com/weather/usa/orlando/historic?month=1&year=2010'

for ind in years:
    site = site.replace(site[site.find("year=")+5:],str(years[ind-2011]),1)
    for i in months:
        orlando = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-1]),1))

In [ ]:
orlando.head()

In [ ]:
orlando.to_excel('/Users/Robbie/Desktop/ORL_PL.xlsx')

# IMPORTING CSV DOWNLOADED DATA

Los Angeles

In [4]:
df_la = pd.read_csv('/Users/Robbie/Desktop/SP19/COGS108/PROJECT/WEATHERDATA/LA_PL.csv')

In [7]:
df_la = df_la.drop(columns = "Unnamed: 0")

In [9]:
df_la.head() #Pressure ('Hg) needs to be renamed ("Hg)

   Temperature (F)   Humidity (%)  Pressure ('Hg)
0                60          0.59           30.07
1                58          0.53           30.04
2                59          0.71           30.03
3                62          0.64           29.99
4                63          0.70           29.95

New York City

In [12]:
df_nyc = pd.read_csv('/Users/Robbie/Desktop/SP19/COGS108/PROJECT/WEATHERDATA/NYC_PL.csv')

In [18]:
df_nyc.head()

                                            NYC_PL
NaN   Temperature (F) Humidity (%)  Pressure ("Hg)
0.0   33              0.62                   30.16
1.0   42              0.71                   30.19
2.0   39              0.61                   29.89
3.0   49              0.6                    29.98

We are going to need to clean this

Chicago

In [15]:
df_ch = pd.read_csv('/Users/Robbie/Desktop/SP19/COGS108/PROJECT/WEATHERDATA/CH_PL.csv')

In [19]:
df_ch = df_ch.drop(columns = 'Unnamed: 0')

In [20]:
df_ch.head()

   Temperature (F)  Humidity (%)  Pressure ("Hg)
0               27          0.74           30.20
1               31          0.76           30.16
2               37          0.63           30.10
3               42          0.61           30.04
4               66          0.68           29.94

Seattle

In [21]:
df_sea = pd.read_csv('/Users/Robbie/Desktop/SP19/COGS108/PROJECT/WEATHERDATA/SEA_PL.csv')

In [24]:
df_sea = df_sea.drop(columns = 'Unnamed: 0')

In [25]:
df_sea.head()

   Temperature (F)  Humidity (%)  Pressure ("Hg)
0               45          0.85           30.03
1               42          0.77           30.16
2               46          0.73           30.01
3               51          0.72           30.02
4               60          0.65           30.05

Orlando

In [27]:
df_orl = pd.read_csv('/Users/Robbie/Desktop/SP19/COGS108/PROJECT/WEATHERDATA/ORL_PL.csv')

In [28]:
df_orl = df_orl.drop(columns = 'Unnamed: 0')

In [29]:
df_orl.head()

   Temperature (F)  Humidity (%)  Pressure ("Hg)
0               59          0.72           30.20
1               71          0.77           30.24
2               66          0.58           30.06
3               73          0.68           30.05
4               76          0.80           30.03

# NEW DATASETS BECAUSE FILES ARE MOSTLY INCOMPATIBLE

NEW LOS ANGELES

In [7]:
months = list(range(9,13))
site = 'https://www.timeanddate.com/weather/usa/los-angeles/historic?month=9&year=2009'    

for i in months:
    NEWlosangeles = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-10]),1))

In [8]:
NEWlosangeles

  Temperature Humidity   Pressure
0       57 °F      59%  30.03 "Hg
1       72 °F      68%  29.88 "Hg
2       67 °F      62%  29.92 "Hg
3       62 °F      56%  29.96 "Hg

In [19]:
NEWlosangeles.to_csv('/Users/Robbie/Desktop/NEW_LA.csv')

NEW CHICAGO

In [4]:
months = list(range(9,13))
site = 'https://www.timeanddate.com/weather/usa/chicago/historic?month=9&year=2009'    

for i in months:
    NEWchicago = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-10]),1))

In [5]:
NEWchicago

  Temperature Humidity   Pressure
0       28 °F      75%  30.05 "Hg
1       66 °F      72%  30.04 "Hg
2       50 °F      75%  29.99 "Hg
3       46 °F      69%  30.05 "Hg

In [6]:
NEWchicago.to_csv('/Users/Robbie/Desktop/NEW_CH.csv')

NEW SEATTLE

In [4]:
months = list(range(9,13))
site = 'https://www.timeanddate.com/weather/usa/seattle/historic?month=9&year=2009'    

for i in months:
    NEWseattle = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-10]),1))

In [5]:
NEWseattle

  Temperature Humidity   Pressure
0       38 °F      74%  30.08 "Hg
1       63 °F      68%  30.04 "Hg
2       53 °F      75%  30.02 "Hg
3       47 °F      79%  30.01 "Hg

In [6]:
NEWseattle.to_csv('/Users/Robbie/Desktop/NEW_SEA.csv')

NEW NEW YORK

In [4]:
months = list(range(9,13))
site = 'https://www.timeanddate.com/weather/usa/new-york/historic?month=9&year=2009'    

for i in months:
    NEWnewyork = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-10]),1))

In [5]:
NEWnewyork

  Temperature Humidity   Pressure
0       36 °F      61%  30.05 "Hg
1       65 °F      72%  30.04 "Hg
2       54 °F      69%  30.04 "Hg
3       51 °F      68%  30.07 "Hg

In [6]:
NEWnewyork.to_csv('/Users/Robbie/Desktop/NEW_NYC.csv')

NEW ORLANDO

In [4]:
months = list(range(9,13))
site = 'https://www.timeanddate.com/weather/usa/orlando/historic?month=9&year=2009'    

for i in months:
    NEWorlando = WeatherAppend(site.replace(site[site.find("=")+1:site.find("&")],str(months[i-10]),1))

In [5]:
NEWorlando

  Temperature Humidity   Pressure
0       63 °F      77%  30.08 "Hg
1       81 °F      75%  29.98 "Hg
2       77 °F      74%  30.01 "Hg
3       68 °F      72%  30.03 "Hg

In [6]:
NEWorlando.to_csv('/Users/Robbie/Desktop/NEW_ORL.csv')

# EDITING PERMANENT FILES

All data point need to be converted into integers

LOS ANGELES

In [4]:
NEWla = pd.read_csv('/Users/Robbie/Desktop/NEW WEATHER DATA/NEW_LA.csv')

In [5]:
NEWla.drop(columns='Unnamed: 0')

  Temperature Humidity   Pressure
0       57 °F      59%  30.03 "Hg
1       72 °F      68%  29.88 "Hg
2       67 °F      62%  29.92 "Hg
3       62 °F      56%  29.96 "Hg

In [6]:
def temp_label(str):
    str = str[:2]
    return int(str)

def humid_label(str):
    str = str[:2]
    return int(str)

def pres_label(str):
    str = str[:5]
    return float(str)

for x in range(len(NEWla)):
    NEWla.at[x, "Temperature"] = temp_label(NEWla.at[x, "Temperature"])
    NEWla.at[x, "Humidity"] = humid_label(NEWla.at[x, "Humidity"])
    NEWla.at[x, "Pressure"] = pres_label(NEWla.at[x, "Pressure"])

In [7]:
NEWla.rename(columns={'Temperature': 'Temperature (°F)', 'Humidity': 'Humidty (%)', 
                   'Pressure':'Pressure (\"Hg")'}, inplace=True)
NEWla = NEWla.drop(columns=["Unnamed: 0"])

In [8]:
NEWla

  Temperature (°F) Humidty (%) Pressure ("Hg")
0               57          59           30.03
1               72          68           29.88
2               67          62           29.92
3               62          56           29.96

In [9]:
NEWla.to_csv('LAX.csv')

SEATTLE

In [14]:
NEWsea = pd.read_csv('/Users/Robbie/Desktop/NEW WEATHER DATA/NEW_SEA.csv')

In [15]:
NEWsea.drop(columns='Unnamed: 0')

  Temperature Humidity   Pressure
0       38 °F      74%  30.08 "Hg
1       63 °F      68%  30.04 "Hg
2       53 °F      75%  30.02 "Hg
3       47 °F      79%  30.01 "Hg

In [16]:
def temp_label(str):
    str = str[:2]
    return int(str)

def humid_label(str):
    str = str[:2]
    return int(str)

def pres_label(str):
    str = str[:5]
    return float(str)

for x in range(len(NEWla)):
    NEWsea.at[x, "Temperature"] = temp_label(NEWsea.at[x, "Temperature"])
    NEWsea.at[x, "Humidity"] = humid_label(NEWsea.at[x, "Humidity"])
    NEWsea.at[x, "Pressure"] = pres_label(NEWsea.at[x, "Pressure"])

In [17]:
NEWsea.rename(columns={'Temperature': 'Temperature (°F)', 'Humidity': 'Humidty (%)', 
                   'Pressure':'Pressure (\"Hg")'}, inplace=True)
NEWsea = NEWsea.drop(columns=["Unnamed: 0"])

In [18]:
NEWsea

  Temperature (°F) Humidty (%) Pressure ("Hg")
0               38          74           30.08
1               63          68           30.04
2               53          75           30.02
3               47          79           30.01

In [19]:
NEWsea.to_csv('SEA.csv')

CHICAGO

In [35]:
NEWchi = pd.read_csv('/Users/Robbie/Desktop/NEW WEATHER DATA/NEW_CH.csv') #ORD is the Chicago airport

In [36]:
NEWchi.drop(columns='Unnamed: 0')

  Temperature Humidity   Pressure
0       28 °F      75%  30.05 "Hg
1       66 °F      72%  30.04 "Hg
2       50 °F      75%  29.99 "Hg
3       46 °F      69%  30.05 "Hg

In [37]:
for x in range(len(NEWla)):
    NEWchi.at[x, "Temperature"] = temp_label(NEWchi.at[x, "Temperature"])
    NEWchi.at[x, "Humidity"] = humid_label(NEWchi.at[x, "Humidity"])
    NEWchi.at[x, "Pressure"] = pres_label(NEWchi.at[x, "Pressure"])

In [38]:
NEWchi

   Unnamed: 0 Temperature Humidity Pressure
0           0          28       75    30.05
1           1          66       72    30.04
2           2          50       75    29.99
3           3          46       69    30.05

In [39]:
NEWchi.drop(columns='Unnamed: 0')

  Temperature Humidity Pressure
0          28       75    30.05
1          66       72    30.04
2          50       75    29.99
3          46       69    30.05

In [40]:
NEWchi.to_csv('CHI.csv')

NEW YORK

In [26]:
NEWnyc = pd.read_csv('/Users/Robbie/Desktop/NEW WEATHER DATA/NEW_NYC.csv')

In [27]:
NEWnyc.drop(columns='Unnamed: 0')

  Temperature Humidity   Pressure
0       36 °F      61%  30.05 "Hg
1       65 °F      72%  30.04 "Hg
2       54 °F      69%  30.04 "Hg
3       51 °F      68%  30.07 "Hg

In [28]:
for x in range(len(NEWla)):
    NEWnyc.at[x, "Temperature"] = temp_label(NEWnyc.at[x, "Temperature"])
    NEWnyc.at[x, "Humidity"] = humid_label(NEWnyc.at[x, "Humidity"])
    NEWnyc.at[x, "Pressure"] = pres_label(NEWnyc.at[x, "Pressure"])

In [29]:
NEWnyc

   Unnamed: 0 Temperature Humidity Pressure
0           0          36       61    30.05
1           1          65       72    30.04
2           2          54       69    30.04
3           3          51       68    30.07

In [30]:
NEWnyc.drop(columns='Unnamed: 0')

  Temperature Humidity Pressure
0          36       61    30.05
1          65       72    30.04
2          54       69    30.04
3          51       68    30.07

In [32]:
NEWnyc.to_csv('NYC.csv')

ORLANDO

In [41]:
NEWorl = pd.read_csv('/Users/Robbie/Desktop/NEW WEATHER DATA/NEW_ORL.csv')

In [42]:
NEWorl.drop(columns='Unnamed: 0')

  Temperature Humidity   Pressure
0       63 °F      77%  30.08 "Hg
1       81 °F      75%  29.98 "Hg
2       77 °F      74%  30.01 "Hg
3       68 °F      72%  30.03 "Hg

In [43]:
for x in range(len(NEWla)):
    NEWorl.at[x, "Temperature"] = temp_label(NEWorl.at[x, "Temperature"])
    NEWorl.at[x, "Humidity"] = humid_label(NEWorl.at[x, "Humidity"])
    NEWorl.at[x, "Pressure"] = pres_label(NEWorl.at[x, "Pressure"])

In [44]:
NEWorl

   Unnamed: 0 Temperature Humidity Pressure
0           0          63       77    30.08
1           1          81       75    29.98
2           2          77       74    30.01
3           3          68       72    30.03

In [45]:
NEWorl.drop(columns='Unnamed: 0')

  Temperature Humidity Pressure
0          63       77    30.08
1          81       75    29.98
2          77       74    30.01
3          68       72    30.03

In [46]:
NEWorl.to_csv('ORL.csv')